MARIADB_ROOT_PASSWORD=cambiar_esta_clave
MARIADB_DATABASE=investigacion_php_local
MARIADB_USER=investigacion
MARIADB_PASSWORD=cambiar_esta_clave

FRONT_PATH=../Proyecto_Investigacion_Frontend/front_php